<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/india">India</a></li>
        <li><a href="/bali">Bali</a></li>
        <li><a href="/london">London</a></li>
        <li><a href="/maldives">Maldives</a></li>
    </ul>
</nav>
